/*---------Global---------*/

body {
    font-family: "Georgia", Georgia, serif;
    background-color: #F6F6F6;
}

h3 {
    font-family: "Georgia", Georgia, serif;
    font-size: 32px;
}

span {
    font-family: "Georgia", Georgia, serif;
    font-size: 16px;
}

p {
    font-family: "Georgia", Georgia, serif;
    font-size: 16px;
}


/*---------Home Page---------*/

nav {
    background-color: #222222;
}

button.btn {
    background-color: #ff5f5f;
    border-bottom: #A20101;
    margin: .5em;
    font-size: 18px;
}

button.btn:hover {
    background-color: #FA4542;
}

button.btn:active {
    background-color: white;
}

.main-pg-pic {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.mid-section-home {
    text-align: center;
    margin: 10em 2em;
}

.bottom-section-home {
    text-align: center;
    margin: 10em 0;
}

footer {
    background-color: #222222;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 5em 2em;
}


/*---------Login/Register---------*/


/*---------Create An Account---------*/


/*---------Users---------*/


/*---------Projects---------*/

.flex {
    display: flex;
}

.column {
    flex-direction: column;
    align-items: center;
}

.side-box {
    border: 2px solid black;
    height: 33vw;
    margin: 1em;
    padding: .5em;
    background-color: white;
}

.candidate-box {
    width: 60%;
    border: 2px solid black;
    margin: 2em;
    padding: 1em;
    background-color: #E4F1FE;
}

.candidate-box img {
    max-width: 200px;
    max-height: 200px;
}

.project-box {
    width: 60%;
    border: 2px solid black;
    margin: 2em;
    padding: 1em;
    background-color: #E4F1FE;
}

.project-box div {
    width: 75%;
}
