<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
        <a href="/login" class="btn waves-effect white grey-text darken-text-2">Join Us!</a>
    </div>
    <div class="carousel-item red lighten-1 white-text" href="#one!">
        <h2>Message about the General Community</h2>
        <p class="white-text">Laboris nulla eu adipisicing excepteur consectetur aute eu labore aliqua ut.</p>
    </div>
    <div class="carousel-item red lighten-1 white-text" href="#two!">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item red lighten-1 white-text" href="#three!">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item red lighten-1 white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
    </div>
</div>
<div class="row mid-section-home">
    <div class="col s4 l4">
        <img class="main-pg-pic" src="/img/team.jpg" alt="man">
        <h5>Text 1</h5>
        <h6>Text 1</h6>
    </div>
    <div class="col s4 l4">
        <img class="main-pg-pic" src="/img/code.jpg" alt="man">
        <h5>Text 1</h5>
        <h6>Text 1</h6>
    </div>
    <div class="col s4 l4">
        <img class="main-pg-pic" src="/img/typing.jpg" alt="man">
        <h5>Text 1</h5>
        <h6>Text 1</h6>
    </div>
</div>
<div class="row bottom-section-home">
    <h5>About Us</h5>
    <span>Ut elit proident laboris est pariatur sunt ut eu minim eu non irure exercitation quis proident nulla sunt velit et exercitation dolor ad nisi pariatur adipisicing aute dolor proident commodo proident. Cillum ut esse in qui exercitation veniam magna mollit cupidatat enim ullamco consectetur anim labore id sunt adipisicing commodo commodo sed cupidatat laboris ut excepteur consectetur do dolore id esse. Velit ut velit culpa ut exercitation commodo eu culpa sit cupidatat in aliqua dolore in anim nisi adipisicing reprehenderit proident ad excepteur mollit ea laborum cillum veniam exercitation nisi ex fugiat ut.</span>
</div>
<footer class="row">
    <div class="col s6 l6">
        <h6>Made with &hearts; by: Tracy Wilbur, Nicole Hsieh, Jenny Vogel, Andrew Tsujimoto & Jade Hartman</h6>
    </div>
    <div class="col s6 l6" <h6>Connect with us:</h6>
        <div class="social-icons">
            <i class="fa fa-facebook btn-floating footer-icons" aria-hidden="true"></i>
            <i class="fa fa-twitter btn-floating footer-icons" aria-hidden="true"></i>
            <i class="fa fa-instagram btn-floating footer-icons" aria-hidden="true"></i>
            <a target="_blank" href="https://github.com/jadespachie/u3-gigBB"><i class="fa fa-github btn-floating footer-icons" aria-hidden="true"></i></a>
        </div>
    </div>
</footer>
