<div class="row">
    <form class="col s12">
      <div class="row">
        	<div class="input-field col s12">
          		<input name="title" type="text">
          		<label for="title">Project Name</label>
          </div>
      </div>
      <div class="row">
		      <div class="col s4">
		      		<label for="start-date">Start Date</label>
							<input type="date" name="start-date">
		      </div>
		      <div class="col s4">
		      		<label for="end-date">Deliverable Date</label>
							<input type="date" name="end-date">
		      </div>
		      <div class="input-field col s4">
							<input type="number" name="payment">
							<label for="payment">Compensation</label>
		      </div>
      </div>
      <div class="row">
					<div class="input-field col s12">
							<textarea name="description" cols="30" rows="10"></textarea>
							<label for="description">Description</label>
					</div>
      </div>
      <div class="checkboxes flex">
		      <div class="row">
		      		<div class="input-field col s12 flex column">
									<p>
											<input type="checkbox" name="art-music">
											<label for="art-music">Art/Music</label>
									</p>
									<p>
											<input type="checkbox" name="education">
											<label for="education">Education</label>
									</p>
									<p>
											<input type="checkbox" name="retail">
											<label for="retail">Retail</label>
									</p>
									<p>
											<input type="checkbox" name="tutoring">
											<label for="tutoring">Tutoring</label>
									</p>
							</div>
					</div>
		      <div class="row">
							<div class="input-field col s12 flex column">
									<p>
											<input type="checkbox" name="health">
											<label for="health">Health</label>
									</p>
									<p>
											<input type="checkbox" name="tech">
											<label for="tech">Tech</label>
									</p>
									<p>
											<input type="checkbox" name="services">
											<label for="services">Services</label>
									</p>
							</div>
					</div>
		      <div class="row">
							<div class="input-field col s12 flex column">
									<p>
											<input type="checkbox" name="food">
											<label for="food">Food</label>
									</p>
									<p>
											<input type="checkbox" name="community">
											<label for="community">Community</label>
									</p>
									<p>
											<input type="checkbox" name="business">
											<label for="business">Business</label>
									</p>
							</div>
					</div>
      </div>
    </form>
 </div>
