<!-- User Login -->
<!-- **UPDATE NG-SUBMIT PATH IF NEED BE -->
<div class="row">
    <form class="col s12" ng-submit="userLogin()">
        <h3>Login</h3>
        <!-- Email -->
        <div class="row">
            <div class="input-field col s12">
                <input type="email" class="validate active" id="email" ng-model="user.email" required>
                <label for="email" data-error="invalid email address" data-success="OK">Email</label>
            </div>
        </div>
        <!-- Password -->
        <div class="row">
            <div class="input-field col s12">
                <input type="password" class="validate" id="password" ng-model="user.password" required>
                <label for="password">Password</label>
            </div>
        </div>
        <div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
        </div>
    </form>
</div>
<hr>
<!-- GA Authentication -->
<h3>Are you a currently Enrolled GA Student?</h3>
<form action="#">
    <p>
        <input type="checkbox" id="test5" />
        <label for="test5">Yes/No</label>
    </p>
    <h5>If you are a currently enrolled GA Student Please Enter your Authentication Code</h5>
    <span>This was received in your email</span>
    <div class="input-field col s6">
        <label for="name">Authentication Code</label>
        <input type="text" class="validate" placeholder="Name" ng-model="user.name">
    </div>
    <div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Signup</button>
    </div>
</form>
<!-- User Signup -->
<form ng-submit="" class="">
    <h3>Signup</h3>
    <!-- Name -->
    <div class="input-field col s12">
        <label for="name">Name</label>
        <input type="text" class="validate" placeholder="Name" ng-model="user.name">
    </div>
    <!-- Email -->
    <div class="input-field col s12">
        <label for="email">Email</label>
        <input type="text" class="validate" placeholder="Email" ng-model="user.email">
    </div>
    <!--Slack Account-->
    <div class="input-field col s12">
        <label for="slack">Slack</label>
        <input type="text" class="validate" placeholder="Slack" ng-model="user.slack">
    </div>
    <!--Campus-->
    <div class="input-field col s12">
        <label for="campus">Campus Location</label>
        <input type="text" class="validate" placeholder="Campus" ng-model="user.campus">
    </div>
    <!-- Class-->
    <div class="input-field col s12">
        <label for="class">Class</label>
        <input type="text" class="validate" placeholder="Class" ng-model="user.class">
    </div>
    <!--Undergrad -->
    <div class="input-field col s12">
        <label for="undergrad">Undergraduate</label>
        <input type="checkbox" class="validate" placeholder="" ng-model="user.undergrad">
    </div>
    <!-- Technologies -->
    <div class="input-field col s12">
        <label for="class">Preferred Technologies</label>
        <input type="text" class="validate" placeholder="List Preffered Technologies" ng-model="user.technologies">
    </div>
    <!-- Cohort -->
    <h5>Which Cohort Were/Are You In</h5>
    <div class="input-field col s12">
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
        </select>
        <label>WDI</label>
    </div>
    <div class="input-field col s12">
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
        </select>
        <label>UX</label>
    </div>
    <!-- Year -->
    <div class="input-field col s12">
        <label for="class">When did you graduate or when are you expected to graduate?</label>
        <input type="date" class="datepicker">
    </div>
    <div>
        <p>
            <input name="seeker" type="radio" id="seeker" />
            <label for="test1">Job Seeker</label>
        </p>
        <p>
            <input name="poster" type="radio" id="poster" />
            <label for="test1">Job Poster</label>
        </p>
        <p>
            <input name="both" type="radio" id="both" />
            <label for="test1">Both</label>
        </p>
    </div>
    <div>
        <label>Interested In?</label>
        <div class="switch">
            <label>
                <input type="checkbox">
                <span class="lever"></span> Art/Music
            </label>
        </div>
        <div class="switch">
            <label>
                <input type="checkbox">
                <span class="lever"></span> Education
            </label>
        </div>
        <div class="switch">
            <label>
                <input type="checkbox">
                <span class="lever"></span> Retail
            </label>
        </div>
        <div class="switch">
            <label>
                <input type="checkbox">
                <span class="lever"></span> Health
            </label>
            <div class="switch">
                <label>
                    <input type="checkbox">
                    <span class="lever"></span> Tech
                </label>
            </div>
            <div class="switch">
                <label>
                    <input type="checkbox">
                    <span class="lever"></span> Services
                </label>
            </div>
            <div class="switch">
                <label>
                    <input type="checkbox">
                    <span class="lever"></span> Food
                </label>
            </div>
            <div class="switch">
                <label>
                    <input type="checkbox">
                    <span class="lever"></span> Community
                </label>
            </div>
            <div class="switch">
                <label>
                    <input type="checkbox">
                    <span class="lever"></span> Business
                </label>
            </div>
            <div class="switch">
                <label>
                    <input type="checkbox">
                    <span class="lever"></span> Tutoring
                </label>
            </div>
            <div class="">
                <button type="submit" class="btn">Submit</button>
            </div>
        </div>
</form>
