<!-- User Signup -->
<div class="container">
    <h3>Create An Account</h3>
    <form ng-submit="" class="col s12">
        <!-- Name -->
        <div class="row">
            <div class="input-field col s12">
                <label for="name">Name</label>
                <input type="text" class="validate" id="name" ng-model="user.name">
            </div>
        </div>
        <!-- Email -->
        <div class="input-field col s12">
            <label for="email">Email</label>
            <input type="text" class="validate" ng-model="user.email">
        </div>
        <!--Slack Account-->
        <div class="input-field col s12">
            <label for="slack">Slack</label>
            <input type="text" class="validate" ng-model="user.slack">
        </div>
        <!--Campus-->
        <div class="input-field col s12">
            <label for="campus">Campus Location</label>
            <input type="text" class="validate" ng-model="user.campus">
        </div>
        <!-- Class-->
        <div class="input-field col s12">
            <label for="class">Class</label>
            <input type="text" class="validate" ng-model="user.class">
        </div>
        <!-- Technologies-->
        <div class="input-field col s12">
            <label for="technologies">Technologies</label>
            <input type="text" class="validate" ng-model="user.technologies">
        </div>
        <!--Undergrad -->
        <div class="input-field row">
            <p class="col s6 l6">
                <input type="checkbox" id="undergrad-no" />
                <label for="undergrad-no">Graduate</label>
            </p>
            <p class="col s6 l6">
                <input type="checkbox" id="undergrad-yes" />
                <label for="undergrad-yes">Undergraduate</label>
            </p>
        </div>
        <!-- Cohort -->
        <div>
            <h5>Categories</h5>
            <p>
                <input type="checkbox" id="UX" />
                <label for="UX">UX</label>
            </p>
            <p>
                <input type="checkbox" id="Development" />
                <label for="Development">Web Development</label>
            </p>
            <p>
                <input type="checkbox" id="Science" />
                <label for="Science">Data Science</label>
            </p>
            <p>
                <input type="checkbox" id="Marketing" />
                <label for="Marketing">Marketing</label>
            </p>
            <p>
                <input type="checkbox" id="Visual" />
                <label for="Visual">Visual</label>
            </p>
            <hr>
        </div>
        <!--     <select class="browser-default">
            <option value="" disabled selected>WDI</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
        </select>
        <select class="browser-default">
            <option value="" disabled selected>UX</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
        </select>
        <select class="browser-default">
            <option value="" disabled selected>Data Science</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
        </select>
        <select class="browser-default">
            <option value="" disabled selected>Digital Marketing</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
        </select>
        <div> -->
        <h5>Are you a...?</h5>
        <div class="row">
            <p>
                <input name="group1" type="radio" id="test1" />
                <label for="test1">Job Seeker</label>
            </p>
            <p>
                <input name="group1" type="radio" id="test2" />
                <label for="test2">Job Poster</label>
            </p>
            <p>
                <input class="with-gap" name="group1" type="radio" id="test3" />
                <label for="test3">Both</label>
            </p>
        </div>
        <hr>
        <div>
            <h5>Interests</h>
            <p>
                <input type="checkbox" id="art" />
                <label for="art">Art/Music</label>
            </p>
            <p>
                <input type="checkbox" id="education" />
                <label for="education">Education</label>
            </p>
            <p>
                <input type="checkbox" id="Retail" />
                <label for="Retail">Retail</label>
            </p>
            <p>
                <input type="checkbox" id="Health" />
                <label for="Health">Health</label>
            </p>
            <p>
                <input type="checkbox" id="Tech" />
                <label for="Tech">Tech</label>
            </p>
            <p>
                <input type="checkbox" id="Services" />
                <label for="Services">Services</label>
            </p>
            <p>
                <input type="checkbox" id="Food" />
                <label for="Food">Food</label>
            </p>
            <p>
                <input type="checkbox" id="Community" />
                <label for="Community">Community</label>
            </p>
            <p>
                <input type="checkbox" id="Business" />
                <label for="Business">Business</label>
            </p>
            <p>
                <input type="checkbox" id="Tutoring" />
                <label for="Tutoring">Tutoring</label>
            </p>
        </div>
        <div class="">
            <button type="submit" class="btn btn-theme">Submit</button>
        </div>
    </form>
</div>
