<!-- User Login -->
<!-- **UPDATE NG-SUBMIT PATH IF NEED BE -->
<div class="row">
    <form class="col s12" ng-submit="userLogin()">
        <h3>Login</h3>
        <!-- Email -->
        <div class="row">
            <div class="input-field col s12">
                <input type="email" class="validate active" id="email" ng-model="user.email" required>
                <label for="email" data-error="invalid email address" data-success="OK">Email</label>
            </div>
        </div>
        <!-- Password -->
        <div class="row">
            <div class="input-field col s12">
                <input type="password" class="validate" id="password" ng-model="user.password" required>
                <label for="password">Password</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
    </form>
</div>
<hr>
<!-- User Signup -->
<form ng-submit="" class="">
    <h3>Signup</h3>
    <!-- Name -->
    <div class="input-field col s12">
        <label for="name">Name</label>
        <input type="text" class="validate" placeholder="Name" ng-model="user.name">
    </div>
    <!-- Email -->
    <div class="input-field col s12">
        <label for="email">Email</label>
        <input type="text" class="validate" placeholder="Email" ng-model="user.email">
    </div>
    <!--Slack Account-->
    <div class="input-field col s12">
        <label for="slack">Slack</label>
        <input type="text" class="validate" placeholder="Slack" ng-model="user.slack">
    </div>
    <!--Campus-->
    <div class="input-field col s12">
        <label for="campus">Campus Location</label>
        <input type="text" class="validate" placeholder="Campus" ng-model="user.campus">
    </div>
    <!-- Class-->
    <div class="input-field col s12">
        <label for="class">Class</label>
        <input type="text" class="validate" placeholder="Class" ng-model="user.class">
    </div>
    <!--Undergrad -->
    <div class="input-field col s12">
        <label for="undergrad">Undergraduate</label>
        <input type="checkbox" class="validate" placeholder="" ng-model="user.undergrad">
    </div>
    <!-- Technologies -->
    <div class="input-field col s12">
        <label for="class">Preferred Technologies</label>
        <input type="text" class="validate" placeholder="List Preffered Technologies" ng-model="user.technologies">
    </div>
    <!-- Cohort -->
    <div class="input-field col s12">
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
        </select>
        <label>Which Cohort Were/Are You In?</label>
    </div>
    <!-- Year -->
    <div class="input-field col s12">
        <label for="class">Which Year Did you Graduate or When are You Planning to Graduate?</label>
        <input type="date" class="datepicker">
    </div>
    <form action="#">
        <p>
            <input type="checkbox" id="test5" />
            <label for="test5">Seeker</label>
        </p>
        <p>
            <input type="checkbox" id="test5" />
            <label for="test5">Poster</label>
        </p>
        <p>
            <input type="checkbox" id="test5" />
            <label for="test5">Both</label>
        </p>
    </form>
    <div>
        <label>Interested In?</label>
        <div class="switch">
            <label>
                <input type="checkbox">
                <span class="lever"></span> Cats
            </label>
        </div>
        <div class="switch">
            <label>
                <input type="checkbox">
                <span class="lever"></span> Furry Things
            </label>
        </div>
        <div class="switch">
            <label>
                <input type="checkbox">
                <span class="lever"></span> Javascript
            </label>
        </div>
        <div class="switch">
            <label>
                <input type="checkbox">
                <span class="lever"></span> MEAN Stack
            </label>
            <div class="switch">
                <label>
                    <input type="checkbox">
                    <span class="lever"></span> UX Cool Stuff
                </label>
            </div>
            <div class="switch">
                <label>
                    <input type="checkbox">
                    <span class="lever"></span> Cats
                </label>
            </div>
            <div class="switch">
                <label>
                    <input type="checkbox">
                    <span class="lever"></span> Furry Things
                </label>
            </div>
            <div class="switch">
                <label>
                    <input type="checkbox">
                    <span class="lever"></span> Javascript
                </label>
            </div>
            <div class="switch">
                <label>
                    <input type="checkbox">
                    <span class="lever"></span> MEAN Stack
                </label>
            </div>
            <div class="switch">
                <label>
                    <input type="checkbox">
                    <span class="lever"></span> UX Cool Stuff
                </label>
            </div>
            <div class="switch">
                <label>
                    <input type="checkbox">
                    <span class="lever"></span> Cats
                </label>
            </div>
            <div class="switch">
                <label>
                    <input type="checkbox">
                    <span class="lever"></span> Furry Things
                </label>
            </div>
            <div class="switch">
                <label>
                    <input type="checkbox">
                    <span class="lever"></span> Javascript
                </label>
            </div>
            <div class="switch">
                <label>
                    <input type="checkbox">
                    <span class="lever"></span> MEAN Stack
                </label>
                <div class="switch">
                    <label>
                        <input type="checkbox">
                        <span class="lever"></span> UX Cool Stuff
                    </label>
                </div>
                <div class="switch">
                    <label>
                        <input type="checkbox">
                        <span class="lever"></span> Cats
                    </label>
                </div>
                <div class="switch">
                    <label>
                        <input type="checkbox">
                        <span class="lever"></span> Furry Things
                    </label>
                </div>
                <div class="switch">
                    <label>
                        <input type="checkbox">
                        <span class="lever"></span> Javascript
                    </label>
                </div>
                <div class="switch">
                    <label>
                        <input type="checkbox">
                        <span class="lever"></span> MEAN Stack
                    </label>
                </div>
                <div class="switch">
                    <label>
                        <input type="checkbox">
                        <span class="lever"></span> UX Cool Stuff
                    </label>
                </div>
                <div class="">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </div>
</form>
